<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.group3.citywalks"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The following two permissions are not required to use
			Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCq3Q-2SZgz5C_1gmaQUFcXr4WVhNs6lhI" />
        <activity
            android:name="project.group3.citywalks.activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="project.group3.citywalks.activities.Splash"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="project.group3.citywalks.activities.ChooseCity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_choose_city"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="project.group3.citywalks.activities.ListWalk"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_list_walk"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="project.group3.citywalks.activities.PoiDetails"
            android:label="@string/title_activity_poi_details" >
        </activity>
        <activity
            android:name="project.group3.citywalks.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="project.group3.citywalks.Dummy"
            android:label="@string/title_activity_dummy" >
        </activity>
    </application>

</manifest>
